// Import fonts here
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url(./components/page-info/page-info.css);
@import url(./components/header/header.css);
@import url(./components/offer/offer.css);
@import url(./components/product-card/product-card.css);
@import url(./components/collection-card/collection.css);

@font-face {
    font-family: 'Georgia Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Bold'), url('../font/georgiab.woff') format('woff');
}

// Declare variables here
$black: #000000;
$yellow: #C19A6B;

// Main CSS
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Georgia Bold';
    margin-bottom: 0;
    color: #0B0B0B;
}

p {
    font-size: 15px;
    margin-bottom: 0;
    color: #0B0B0B;
}

a {
    color: $black;
    text-decoration: none;
    transition: 0.2s color linear !important;

    &:hover {
        color: $yellow;
    }
}

figure {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

button {
    border: 0;

    &:active,
    &:focus {
        outline: 0;
        border: 0;
        box-shadow: none !important;
    }
}

.main-btn {
    font-size: 15px;
    font-weight: 400;
    background-color: #000000;
    color: #ffffff;
    border: 0;
    padding: 13px 25px;

    @media only screen and (min-width: 768px) {
        font-size: 16px;
        padding: 15px 30px;
    }

    @media only screen and (min-width: 992px) {
        font-size: 20px;
        padding: 15px 40px;
    }
}
.pt-100 {
    padding-top: 100px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-70 {
    padding-bottom: 70px;
}
.pb-100 {
    padding-bottom: 100px;
}
@media only screen and (max-width: 991px) {
    .pt-100 {
        padding-top: 50px;
    }
    .pb-70 {
        padding-bottom: 20px;
    }
    .pb-100 {
        padding-bottom: 50px;
    }
}

// Section header
.section-header {
    text-align: center;
    margin-bottom: 30px;
    h2 {
        font-size: 30px;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
    @media only screen and (min-width: 768px) {
        margin-bottom: 35px;
        h2 {
            font-size: 35px;
        }
    }
    @media only screen and (min-width: 992px) {
        margin-bottom: 40px;
        h2 {
            font-size: 48px;
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
}

.isotope-group {
    margin-top: -7px;
    li {
        display: inline-block;
        font-size: 15px;
        font-weight: 600;
        color: rgba(#0B0B0B, .6);
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.3s linear;
        position: relative;
        margin-top: 7px;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 100%;
            width: 0;
            height: 2px;
            background-color: $yellow;
            transform: translateY(1px);
            opacity: 0;
            transition: all 0.3s linear;
        }
        &:hover {
            color: $yellow;
        }
        &.active {
            color: $yellow;
            &:after {
                width: 23px;
                opacity: 1;
            }
        }
        @media only screen and (min-width: 992px) {
            margin-left: 20px;
            margin-right: 20px;
            font-size: 16px;
        }
    }
}

// Owl carousel reset
.owl-carousel {
    .owl-item {
        img {
            width: auto;
        }
    }
}